.container-lg,
.container-mb {
  margin: 0 auto;
}

.hide {
  display: none;
  opacity: 0;
  z-index: -99999;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1280px;
}


.bg-none{
  background: none!important;
}


@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width:768px) {

  .container,
  .container-mb {
    max-width: 720px
  }

  .hide-mb {
    display: none;
    opacity: 0;
    z-index: -99999;
  }
}

@media (min-width:992px) {

  .container,
  .container-lg {
    max-width: 960px
  }

  .hide-lg {
    display: none;
    opacity: 0;
    z-index: -99999;
  }
}